<head>
  <link rel="stylesheet" href="/static/match.css">
</head>

<script src="/static/match.js"></script>
</head>

<p class="goal-class" id="goal">
  Try and get all the same numbers in the same color!
</p>
<p class= "rule-class" id="rules">
  (Use the bottom buttons to change each individual number. Click each number to change just it's color) 
</p>

<button onclick="generateSet()"> 
  Generate a random set
</button> 
<button onclick="generateColors()">
  Change All Colors
</button> <br>

<p class="one-class" id="num1" onclick="generateNewTopColor()">0</p>
<p class="two-class" id="num2" onclick= "generateNewMiddleColor()">0</p>
<p class="three-class" id="num3" onclick = "generateNewBottomColor()">0</p>

<button onclick="generateNewTopNum()"> 
  Generate New Top Number
</button> 
<button onclick="generateNewMiddleNum()"> 
  Generate New Middle Number
</button> 
<button onclick="generateNewBottomNum()"> 
  Generate New Bottom Number
</button> 
