 text-align: center;
  color: blue;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.goal-class{
  text-align: center;
  background-color:blue;
  color: white;
}
.rule-class{
  text-align: center;
  background-color:blue;
  color: white;
}

.one-class{
  text-align: center;
}
.two-class{
  text-align: center;
}
.three-class{
  text-align: center;
}
